<aside class="library-rail" id="libraries-desktop">
	{% include "partials/library_list.njk" %}
</aside>
<details class="mobile-library-nav">
	<summary id="libraries-mobile">Library: {{ selectedLibraryName }}</summary>
	{% include "partials/library_list.njk" %}
</details>
